<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>vue</title>
  <script type="text/javascript" src="vue.min.js"></script>


  <style>
    .class1{
      background: #444;
      color: #eee;
    }
  </style>
</head>
<body>
<div id="app">

  1. 文本插值：\{{要插入的文本}\} - 双大括号
  <p>文本插值：{{ message | toUpperCase }}</p>
  <hr/>

  2. 表达式：
  <p>表达式 {{cents}}/100 = {{cents/100}}</p>
  <p>表达式的值可以是{{splits}}，split(',')的运算结果：{{splits.split(',')}}</p>
  <p>{{message}} 反向打印 split('').reverse().join('')： {{ message.split('').reverse().join('') }}</p>
  <p>三目运算符 true ? 1 : 0, 结果：{{true ? 1 : 0}}</p>
  <hr/>

  3. 属性： v-bind:属性名称='属性值'
  <br><label for="r1">修改颜色</label><input type="checkbox" v-model="class1" id="r1"/>
  <br/>
  <div v-bind:class="{'class1': class1}">
    directive v-bind:class
  </div>
  <div v-bind:id="'list-' + id">菜鸟教程</div>

  <pre><a v-bind:href="url">菜鸟教程</a></pre>

  <hr>
  指令：
  1：v-html
  <div v-html="logo"></div>
  2：v-model 双向绑定
  <br/>
  <label for="vmodel">{{message}}</label>
  <input v-model="message" id="vmodel">
  <br/>
  3：v-if
  <p v-if="seen">现在你看到我了</p>
  4：v-on，用于监听 dom 事件
  例子：v-on:click.prevent,<br>
  .prevent 修饰符告诉 v-on 指令对于触发的事件调用 event.preventDefault();

  <br/>
  <button v-on:click.prevent="reverseMessage">reverseMessage</button>

  <br/>
  5. filters 过滤器，类似于 Linux 中的管道。 message | filterA | filterB，过滤器可以串联
  <br/>
  过滤器是 JavaScript 函数，因此可以接受参数<br/>
  message 是第一个参数，'arg1' 作为第二个参数， arg2 作为第三个参数。
  例子： {{message | capitalize("arg1", cents)}}
  <br/>


  6. v-if
  <div v-if="num > 0.5">
    随机数 {{num }} 大于 0.5
  </div>

  <div v-else>
    随机数 {{num }} 小于等于 0.5
  </div>
  <br>

  7. v-for
  <br>
   1) 普通字符串数组，嵌套了模板
  <div>
    <ol>
      <template v-for="item in ary">
        <li>{{item}}</li>
        <li>--------------------</li>
      </template>
    </ol>
  </div>
   2）迭代对象，(value, key, index) in object
  <div>
    <ul>
      <li v-for="(value, key, index) in object">
        {{ index }}. {{ key }} : {{ value }}
      </li>
    </ul>
  </div>

   3）循环整数
  <ul>
    <li v-for="n in 10">
      {{n}}
    </li>
  </ul>

  <p>{{ site }}</p>

  <hr>
  4）表单

  <br/>
  单选框
  <br/>
  <input type="radio" id="runoob" value="Runoob" v-model="picked">
  <label for="runoob">Runoob</label>
  <br>
  <input type="radio" id="google" value="Google" v-model="picked">
  <label for="google">Google</label>
  <br>
  <input type="radio" id="alibaba" value="Alibaba" v-model="picked">
  <label for="alibaba">Alibaba</label>
  <br>
  <span>选中值为: {{ picked }}</span>

  <br/>
  全选
  <br/>
  <input type="checkbox" id="checkbox" v-model="checked" @click="changeAllChecked()">
  <label for="checkbox">{{checked}}</label>


  <p>多个复选框：</p>
  <input type="checkbox" id="1" value="Runoob" v-model="checkedNames">
  <label for="1">Runoob</label>
  <input type="checkbox" id="2" value="Google" v-model="checkedNames">
  <label for="2">Google</label>
  <input type="checkbox" id="3" value="Taobao" v-model="checkedNames">
  <label for="3">taobao</label>
  <br>
  <span>选择的值为: {{ checkedNames }}</span>

  <br/>
  下拉框：
  <br/>
  <select name="site" id="site" v-model="selected">
    <option value="">选择一个网站</option>
    <option value="www.runoob.com">Runoob</option>
    <option value="www.google.com">Google</option>
  </select>
  <div id="output">
    选择的网站是：{{selected}}
  </div>

  修饰符：<br/>
  .lazy<br/>
  <input v-model.lazy="msg">{{msg}}<br/>
  .number　数字<br/>
  <input v-model.number="age" type="number">{{age}}<br/>
  .trim 去除首尾空格<br/>
  <input v-model.trim="msg1" >{{msg1}}<br/>

</div>

<!-- built files will be auto injected -->
<script type="text/javascript">
  var data =  {
    cents: 200,
    splits: '200,100',
    message: 'abcd',
    logo: '<h1>ddddddddddd</h1>',
    message1: '<h1>hello vue.js</h1>',
    id: 1,
    class1: false,
    seen: true,
    num: Math.random(),
    ary: [
      "item1",
      "item1",
      "item1"
    ],
    object: {
      name: '菜鸟教程',
      url: 'http://www.runoob.com',
      slogan: '学的不仅是技术，更是梦想！'
    },

    url: 'http://www.google.com',
    name: '谷歌',
    picked: 'Google',
    selected: "",

    checkedNames: [],
    checkedAttr: [ "Runoob", "Google", "Taobao" ],
    checked: false,

    msg: "",
    msg1: "",
    age: 0

  };
  var vm = new Vue({
    el: '#app',
    data: data,
    // 定义方法
    methods: {
      doSomething: function () {
        alert(1);
      },
      reverseMessage: function () {
        this.message = this.message.split('').reverse().join('');
      },
      changeAllChecked: function () {
        console.log('全选：' + this.checked);
        if (this.checked) {
          this.checkedNames = this.checkedAttr;
        } else {
          this.checkedNames = [];
        }
      }
    },
    watch: {
      checkedNames: function () {
        if (this.checkedNames.length == this.checkedAttr.length) {
          this.checked = true;
        } else {
          this.checked = false;
        }
      }
    },
    // 定义过滤器
    filters: {
      capitalize: function (value, arg1, agr2) {
        if (!value) return '';
        value = value.toString();
        return value.charAt(0).toUpperCase() + value.slice(1) + arg1 + agr2;
      }
    },

    // 计算属性
    computed: {
      site: {
        get: function () {
          return this.name + ' ' + this.url

        },
        set: function (newValue) {
          var names = newValue.split(' ');
          this.name = names[0];
          this.url = names[names.length - 1];
        }
      }
    }
  });

  console.log(vm.$data);
  console.log(vm.$data === data);
  console.log(vm.$el === document.getElementById("app"));
  vm.$watch("message", function (newVal, OldVal) {
    // Vue 实例暴露了一些有用的实例属性与方法。这些属性与方法都有前缀 $
    console.log("$watch 是一个实例方法，这个函数在 `vm.message` 改变后调用");
    console.log("新值" + newVal);
    console.log("旧值" + OldVal);
  });

  // 调用 setter， vm.name 和 vm.url 也会被对应更新
  /*vm.site = '菜鸟教程 http://www.runoob.com';
  document.write('name: ' + vm.name);
  document.write('<br>');
  document.write('url: ' + vm.url);*/
</script>
</body>
</html>
